.post {
  border-radius: 8px;
  padding: 2.5rem;
  background: var(--gray-800);

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    time {
      font-size: 0.875rem;
      color: var(--gray-400);
    }
  }

  .content {
    line-height: 1.6;
    margin-top: 1.5rem;
    color: var(--gray-300);

    p {
      margin-top: 1rem;
    }

    a {
      font-weight: bold;
      color: var(--green-500);
      text-decoration: none;
    }

    a:hover {
      color: var(--green-300);
    }
  }

  .author {
    display: flex;
    align-items: center;
    gap: 1rem;

    img {
      width: calc(3rem + 12px);
      height: calc(3rem + 12px);
      border-radius: 8px;
      border: 4px solid var(--gray-800);
      outline: 2px solid var(--green-500);
    }
  }

  .author-info {
    strong {
      display: block;
      line-height: 1.6;
      color: var(--gray-100);
    }

    span {
      display: block;
      font-size: 0.875rem;
      line-height: 1.6;
      color: var(--gray-400);
    }
  }

  .comment-form {
    width: 100%;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    border-top: 1px solid var(--gray-600);

    strong {
      line-height: 1.6;
      color: var(--gray-100);
    }

    textarea {
      width: 100%;
      border: 0;
      height: 6rem;
      padding: 1rem;
      border-radius: 8px;
      margin-top: 1rem;
      line-height: 1.4;
      resize: none;
      color: var(--gray-100);
      background: var(--gray-900);
    }

    button {
      padding: 1rem 1.5rem;
      margin-top: 1rem;
      border-radius: 8px;
      border: 0;
      font-weight: bold;
      color: var(--white);
      background: var(--green-500);
      cursor: pointer;
      transition: color 0.1s, background-color 0.1s;
    }

    button:hover {
      background: var(--green-300);
    }

    footer {
      visibility: hidden;
      max-height: 0;
    }
  }

  .comment-form:focus-within {
    footer {
      visibility: visible;
      max-height: none;
    }
  }
}

.post + .post {
  margin-top: 2rem;
}
